@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

/*----------------------------Colors-----------------------------*/
nav {
    background-color: #00736C;
}
.navbar {
    --bs-navbar-active-color: #9aff3f;
}

.navbar-nav {
    --bs-nav-link-color: white;
}

#travel {
    background-color: cornflowerblue;
    border: black solid 2px;
}

#fitness {
    background-color: aquamarine;
}

#lunch {
    background-color: coral;
}

#gallery {
    background-color: greenyellow;
}

/*---------------------------------Main Section-------------------------*/


.main-section {
    font-family: "Source Sans Pro", Arial, sans-serif ;
}

.image-container {
    background-image: url(/assets/images/hero_banner.jpg);
    height: 400px;
}

.main-heading {
padding: 1rem 2rem;
}

.city-name {
    margin: 1rem 30rem ;
    font-family: "Courgette", Arial, sans-serif;
    font-size: 6rem;
}

.slogan {
    margin: 0 27rem;
    font-size: 1.25rem;
}



ul {
    list-style-type: none;
}

img {
    width: 100%;
    border-radius: 10%;
}